@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spin-slow1 {
  animation: spin 9s linear infinite;
}

.spin-slow2 {
  animation: spin 5s linear infinite;
}

.spin-medium1 {
  animation: spin 4s linear infinite reverse;
}

.spin-medium2 {
  animation: spin 5s linear infinite reverse;
}
